<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{title}}
    </title>
    {{! TailwindCSS }}
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    {{! External CSS }}
    <link rel="stylesheet" href="css/style.css" />
    {{! Plus Jakarta Sans Font }}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
      rel="stylesheet"
    />
    {{! Font Awesome }}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
    />
  </head>
  <body class="text-[#171717]">
    {{! Header }}
    <header
      class="sticky top-0 z-50 py-4 px-6 md:px-0 md:py-6 bg-[#FAFAFA]/70 backdrop-blur-xl"
    >
      <div
        class="container mx-auto flex flex-wrap md:flex-nowrap justify-between items-center gap-4"
      >
        {{! Logo }}
        <a href="#" class="font-black text-2xl tracking-[-1.2px]">
          M-HELMY
        </a>
        {{! Nav Links }}
        <nav class="w-full md:w-auto order-3 md:order-2">
          <ul
            class="flex flex-wrap md:flex-row justify-center gap-4 md:gap-10 font-bold text-sm md:text-base text-[#737373] tracking-[-0.4px] items-center"
          >
            <li>
              <a
                href="#techSection"
                class="hover:text-[#171717] hover:-translate-y-1 hover:underline hover:underline-offset-8 decoration-2 block duration-300 transition-all"
              >
                Tech Stack
              </a>
            </li>
            <li>
              <a
                href="#experiencesSection"
                class="hover:text-[#171717] hover:-translate-y-1 hover:underline hover:underline-offset-8 decoration-2 block duration-300 transition-all"
              >
                Experiences
              </a>
            </li>
            <li>
              <a
                href="#projectsSection"
                class="hover:text-[#171717] hover:-translate-y-1 hover:underline hover:underline-offset-8 decoration-2 block duration-300 transition-all"
              >
                Projects
              </a>
            </li>
            <li>
              <a
                href="#contactSection"
                class="hover:text-[#171717] hover:-translate-y-1 hover:underline hover:underline-offset-8 decoration-2 block duration-300 transition-all"
              >
                Contact
              </a>
            </li>
          </ul>
        </nav>
        {{! CTA }}
        <a
          href="#contactSection"
          class="bg-[#2B3437] text-[#F7F7FF] px-6 py-2 md:px-8 md:py-3 text-sm md:text-base rounded-full font-medium border border-[#2B3437] hover:text-[#171717] hover:bg-[#F7F7FF] hover:border-[#171717] hover:-translate-y-1 hover:shadow-lg active:scale-95 focus:ring-4 focus:ring-gray-200 outline-none duration-300 transition-all order-2 md:order-3"
        >
          Get in Touch
        </a>
      </div>
    </header>

    {{! Main Content }}
    <main>
      {{{body}}}
    </main>

    {{! Footer }}
    <footer
      class="bg-[#F8F9FA] py-10 px-6 md:px-0 flex items-center justify-center"
    >
      <div
        class="container mx-auto flex flex-col md:flex-row items-center gap-8 md:gap-0 justify-center"
      >
        {{! Footer Nav Links }}
        <nav>
          <ul
            class="flex flex-wrap justify-center gap-6 md:gap-10 text-xs text-[#737373] tracking-[1.4px]"
          >
            <li>
              <a
                target="_blank"
                href="https://www.linkedin.com/in/muh-hlmy/"
                class="hover:text-[#171717] decoration-2 duration-300 transition-all"
              >
                LINKEDIN
              </a>
            </li>
            <li>
              <a
                target="_blank"
                href="https://github.com/muhhlmy/"
                class="hover:text-[#171717] decoration-2 duration-300 transition-all"
              >
                GITHUB
              </a>
            </li>
            <li>
              <a
                target="_blank"
                href="https://www.instagram.com/muhhl.my/"
                class="hover:text-[#171717] decoration-2 duration-300 transition-all"
              >
                INSTAGRAM
              </a>
            </li>
            <li>
              <a
                target="_blank"
                href="https://dribbble.com/muhhlmy"
                class="hover:text-[#171717] decoration-2 duration-300 transition-all"
              >
                DRIBBLE
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </footer>
  </body>
</html>