@import "tailwindcss";
*,
html {
  font-family: "Plus Jakarta Sans", sans-serif;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-infinite-scroll {
  animation: infinite-scroll 60s linear infinite;
}
.animate-infinite-scroll:hover {
  animation-play-state: paused;
}

.mask-gradient {
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}
